body{
  margin:0;
  padding: 0;
  background: url(../assets/image1\ \(6\).png)no-repeat center top;
  background-size: cover;
  font-family:sans-serif;
  height: 100vh; 
}
.registro-box{
  width:320px;
  height: 420px;
  background-color:rgba(255, 255, 255, 0.4);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.registro-box  .avatar{
   width: 100px;
   height: 100px;
  border-radius: 50%;
  right: 110px;
  position: absolute;
  top: -40px;
  left: calc(50% -50%);
}
.registro-box h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;

}
.registro-box label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display:block;
}
.registro-box input{
  width: 100%;
  margin-bottom: 20px;
}
.registro-box [input(type="text")],
.registro-box [input(type="password")]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height:40px;
  color: #fff;
  font-size: 16px;
}
.registro-box input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background-color: grey;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.registro-box a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color:black;
}
.registro-box a:hover{
  color:#fff
}